*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
 }
 .container {
    width: 100%; 
    height: 100%;
    background:  linear-gradient(135deg, #7ca5ff ,#ffff6f);
    padding: 100px;
 }
 .todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(170, 211, 255);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
 }
 .todo-app h2{
    color: #ff0d00;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
 
 }
 .todo-app h2 img{
    width: 30px;
    margin-left: 10px;
 }
 .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffe7e7;
    border-radius: 30px;
    padding-left: 20px;margin-bottom: 25px;
 }
  element.style {
   display: flex;
   align-items: center ;
   justify-content: center;
   flex-direction: column;
  }
 
 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
 
 }
 button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: hsl(153, 100%, 50%);
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
 }
 ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
 }
 ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(D:\mp3/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
 }
    ul li.checked {
      color: #ee000071;
      text-decoration: line-through;
      }
      
      ul li.checked::before {
      background-image: url(D:\mp3/checked.png);
      }
      
      
 
 ul li span{
   position: absolute;
   right: 0;
   top: 5px;
   width: 40px;
   font-size: 22px;
   color: #14db925a;
   line-height: 40px;
   text-align: center;
 }
 ul li span:hover{
   background: #ff0000;
 }